spring:
  application:
    name:
      'chatService'

  datasource:
    url: jdbc:postgresql://localhost:5432/miniblog
    username: daul
    password: 2364
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: update

  data:
    mongodb:
      uri: "mongodb://localhost:27017/miniblog_chat_db"
      database: chat_db

server:
  port: 1005
  servlet:
    context-path: /chat
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  tomcat:
    uri-encoding: UTF-8


