spring:
  application:
    name: 'gateway'

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 'http://127.0.0.1:3000'
            allow-credentials: true
            allowedHeaders: '*'
            allowedMethods:
              - PUT
              - GET
              - POST
              - DELETE
              - OPTIONS
            exposed-headers:
              - Authorization

      routes:
        - id: chatService
          uri: http://127.0.0.1:1005
          predicates:
            - Path=/chat/**

        - id: feedService
          uri: http://127.0.0.1:1001
          predicates:
            - Path=/feed/**

        - id: notificationService
          uri: http://127.0.0.1:1002
          predicates:
            - Path=/notification/**

        - id: blogService
          uri: http://127.0.0.1:1004
          predicates:
            - Path=/blog/images/**
          filters:
            - StripPrefix=1


        - id: blogService
          uri: http://127.0.0.1:1004
          predicates:
            - Path=/blog/**


        - id: userService
          uri: http://127.0.0.1:1003
          predicates:
            - Path=/user/**

  datasource:
    url: jdbc:postgresql://localhost:5432/miniblog
    username: daul
    password: 2364
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: update

server:
  port: 1000

jwt:
  secret: 751afe020ffb9b6f1878cd6d4de2f5ab1b9ff0c17310e118f5aff2e54c31d31b
  expired : 4320000
  refresh: 432000000

logging:
  level:
    org.springframework.security: DEBUG
