spring:
  application:
    name: 'gateway'

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 'http://127.0.0.1:3000'
            allow-credentials: true
            allowedHeaders: '*'
            allowedMethods:
              - PUT
              - GET
              - POST
              - DELETE
              - OPTIONS
            exposed-headers:
              - Authorization

      routes:
        - id: chatService
          uri: http://127.0.0.1:1001
          predicates:
            - Path=/chat/**
            - Method=POST

        - id: feedService
          uri: http://127.0.0.1:1001
          predicates:
            - Path=/feed/**

        - id: notificationService
          uri: http://127.0.0.1:1002
          predicates:
            - Path=/notification/**

        - id: userService
          uri: http://127.0.0.1:1013
          predicates:
            - Path=/user/**

  datasource:
    url: jdbc:postgresql://localhost:5432/miniblog
    username: daul
    password: 2364
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: update

server:
  port: 1000
